.fc .fc-daygrid-day.fc-day-today {
  background-color: rgb(40 147 255 / 15%) !important;
  background-color: rgb(40 147 255 / 15%) !important;
}

.fc-toolbar-chunk {
  text-align: right;
}

.fc-toolbar-chunk h2 {
  text-align: left;
}

.chakra-ui-dark .fc-theme-standard .fc-list-day-cushion{
  background-color: #212944 !important
}

.chakra-ui-dark .fc .fc-list-event:hover td{
  background-color: #444444 !important
}